@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  display: flex;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

:root {
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}
