@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  display: flex;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: hsl(200 7% 8.8%);
}

html,
body {
  overflow: hidden;
  height: 100%;
}

:root {
  font-family: "Inter", sans-serif;
  /* font-feature-settings: "tnum", "zero"; */
}

* {
  box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

canvas {
  margin: 2px;
  border-radius: 4px;
  overflow: hidden;
}
